[2015-11-22 00:32] xcv58 opened #1 "A better way to import external library"
Currently, we can only use the `your own external scripts` window to import external library. It's not good because we need maintain both injected scripts and library import scripts.

There are two possible ways:
1. import from scripts
2. link to cdnjs.com and import by click

[2017-08-18 14:07] ToX82 opened #2 "Importing from the original extension?"
I don't even know wether this is possible or not, but I'm switching from the original extension to this, and I think that an import function would be really useful.

[2017-08-20 17:56] xcv58 commented on #2
@ToX82 It's doable, but how do you export existing codes from original extension?

[2017-10-11 02:52] xcv58 opened #3 "Edit JavaScript out of the page"

[2017-10-11 02:56] xcv58 opened #4 "Refactor this extension to React based"

[2017-10-11 03:02] xcv58 opened #5 "Add option to not only inject based on domain but regex or something else"

[2017-10-11 03:23] xcv58 opened #6 "Write a better description and readme"
Some resoucres:
https://xcv58.me/publish-custom-javascript-for-websites-2-v2-3-0-6f8f6cb7e8af

[2017-10-12 01:28] xcv58 opened #7 "Try Lebab"
https://github.com/lebab/lebab

[2017-10-15 17:17] xcv58 commented on #3
The blockers are:
1. The `api.js` is running in every tab and relies on `location.protocol`, add background page to add `onRequest` with tabId, or directly use the get data functionality into `popup.js`.
2. The `popup.js` tries to load data for current tab, need a way to distinguish between popup window and standalone tab.
3. The `popup.js` needs a way to know which tab/URL to show content, react-

[2017-10-15 17:18] xcv58 commented on #3
The current implementation is hard to achieve this, we'd better fix the #4 first.

[2017-10-15 17:19] xcv58 opened #8 "Use webpack to build the extension"
This is the first step for #4 #3 #5

[2017-10-15 17:50] xcv58 opened #9 "Remove share button"

[2017-10-16 03:04] #8 closed

[2017-10-16 03:40] #9 closed

[2017-10-17 04:33] xcv58 commented on #5
This is kind of contradict to the entire design.
And users can use a helper function to check in their own scripts:
[code]

[2017-10-17 04:40] xcv58 commented on #4
The blocker is `popup.js`:

1. It uses jQuery to manipulate html file
2. It relies on `localStorage` to keep scripts from other tabs/URLs

The steps:
1. build simple React page that just read and render data
2. add https://github.com/securingsincity/react-ace to edit scripts
3. able to save scripts
4. add localStorage or other techs to get list of existing tabs/URLs
5. add change URL feature

[2017-10-17 16:32] xcv58 commented on #4
Another approach is that gradually replace components in `pop.html`. But this may break something with jQuery.

[2017-10-18 04:05] xcv58 commented on #4
Try both ways. Both of them doesn't work well.
Try to replace ace editor with react-ace, still need store to set/update codes.

[2017-10-21 04:04] xcv58 commented on #7
Too verbose to use it.

[2017-10-21 04:04] #7 closed

[2017-10-21 04:04] xcv58 commented on #4
1. Migrate editor to react-ace
2. Optimize popup.js for next step

[2017-10-21 04:05] xcv58 commented on #3
This is blocked by #4

[2017-10-22 03:39] xcv58 opened #10 "Error for new domain"
[code]

[2017-10-22 03:42] #10 closed

[2017-10-22 23:19] #4 closed

[2017-10-23 07:08] xcv58 opened #11 "AppStore.draft doesn't work as expect"
The draft used to be an object, but the current implementation is a string.

[2017-10-23 11:37] darkzbaron opened #12 "script sharing?"
any chance you would share some scrips. qui interested in the youtube sript from the video?
Thanks for the great job

[2017-10-23 11:38] darkzbaron commented on #12
sorry didnt see your gist. thanks !

[2017-10-23 11:38] #12 closed

[2017-10-23 11:39] darkzbaron commented on #12
https://gist.github.com/timfreund/93dde982a5d12fd639c78c2df1bcbe2f

[2017-10-24 03:35] xcv58 opened #13 "Update UI after auto save"

[2017-10-24 04:22] #11 closed

[2017-10-24 04:51] #13 closed

[2017-10-24 23:10] xcv58 opened #14 "Add options to change editor theme"

[2017-10-24 23:10] xcv58 opened #15 "Add shortcut to enable/disable for current page"

[2017-10-24 23:11] xcv58 opened #16 "Update icon based on enable/disable"

[2017-10-24 23:11] xcv58 opened #17 "Use chrome storage API to sync hosts"

[2017-10-25 02:18] xcv58 opened #18 "Add confirm alert before reset"
https://material-ui-next.com/demos/dialogs/

[2017-10-25 04:19] #18 closed

[2017-10-28 22:49] #3 closed

[2017-10-28 22:50] xcv58 commented on #2
Close this since there is no viable way to update old extension.

[2017-10-28 22:50] #2 closed

[2017-10-28 22:52] xcv58 commented on #1
We can provide a function like:

[code]

to import external library.

[2017-10-28 22:56] xcv58 commented on #17
This is a good idea since the chrome storage API works even without network.

We should remove all local storage and move the functionality to chrome storage API to leverage its ability.

[2017-10-28 22:57] xcv58 opened #19 "Fix style isse"
https://github.com/xcv58/Custom-JavaScript-for-Websites-2/blob/066551dff495ee96e332715c59b9992c5448101f/src/js/stores/index.js#L9

Use `forEach` instead of `map`

[2017-10-28 22:58] xcv58 opened #20 "Move all localStorage to chrome.storage"

[2017-10-29 02:37] #19 closed

[2017-10-29 03:12] #17 closed

[2017-10-30 13:13] xcv58 opened #21 "Use webpack to generate manifest.json file"
https://github.com/xcv58/Tab-Manager-v2/commit/f0aed2676c6efb115da5a29da04c2b98727f1b78

[2017-11-03 05:21] xcv58 opened #22 "componentWillMount should be componentWillUnmount"
https://github.com/xcv58/Custom-JavaScript-for-Websites-2/blob/eb214dc62c9ae9d080d1e98e9fc754fd9a2f54e4/src/js/components/Loading.js#L11

[2017-11-11 04:28] #22 closed

[2017-11-11 04:37] #21 closed

[2017-11-11 04:59] xcv58 opened #23 "Check whether URL supports inject"
For example chrome://extensions/ doesn't allow to inject.

[2017-11-16 04:26] xcv58 commented on #5
Reopen this to investigate how to inject based on regex matched URL.

[2017-11-16 04:33] xcv58 commented on #5
There are few things to consider:

1. Someone needs to inject into a specific page: example.com/foo/bar
2. Someone needs to inject into wider pages: *.google.com, which means all www.google.com, maps.google.com, mails.google.com get injected
3. What happens if one page matches multiple rules? Inject all matched scripts or just one of them?
4. Given a URL, how to get the matched rules? It would be

[2017-12-04 12:48] darkzbaron opened #24 "Size limit?"
Hi there,

There seems to be some size limit. If I use a long script, it does not save and therefore does not work.

I guess this is due to the Chrome Storage API limit? It is however annoying that there is no debuggin nor option to save the script as a local one.

My solution was to have CJS1 to run in parallel.

[2017-12-04 12:50] darkzbaron opened #25 "URL change"
I run a script on domain.com. I have specified in my script that it should only run on domain.com/subdomain1. However, when I navigate back and forther between domain.com and domain.com/subdomain1 or domain.com/subdomain2 the script keeps running.

I am no expert in JS and frankly lost. Any help would be appreciate!

Thanks for the great work anyway.

Jonathan

[2017-12-04 17:39] xcv58 opened #26 "Check the code size before saving to address size limit of chrome.storage API"

[2017-12-04 17:40] xcv58 opened #27 "Update readme and description in web store for handling large code"

[2017-12-04 17:40] xcv58 commented on #24
Thank you for your feedback!

Yup, this is an issue but there are workaround for this:

My previous response on Chrome Webstore.

It can provide a better experience to use Github/Gist to host larger codes and embeds the URL in this extension.

I create follow up issues: #26 #27 to solve the issue.

[2017-12-04 17:48] xcv58 commented on #25
There is existing issue for this #5

But unfortunately, there are some difficulties to implement such functionality and need to redesign the entire logic for injecting scripts.

There is a workaround to handling such cases: write a function to check whether the domain is the desired domain you need, like:

[code]

[2017-12-10 04:59] xcv58 opened #28 "Add a tip for draft, it wouldn't execute until you save it"

[2017-12-10 18:15] adrianofoschi opened #29 "Multiple domain support"
Is possibile to set the same custom script for multiple domains?

[2017-12-10 21:23] xcv58 opened #30 "Support all domain"
Based on the current implementation, support regex domain/URL pattern seems not feasible.

So I propose to create a global inject script which will apply to all web pages. So that user can determine run what code blocks based on the domain/URL pattern.

This solution is easy and quick to implement.

Related issues:
#5
#29

[2017-12-10 21:24] xcv58 commented on #29
@adrianofoschi It's not supported yet. Due to the reasons: https://github.com/xcv58/Custom-JavaScript-for-Websites-2/issues/5#issuecomment-344813153

But I have a proposal to support inject custom code in all domains. Could you provide your feedback?

[2017-12-11 22:57] xcv58 opened #31 "Move the bottom bar Save Reset, Remove Draft to top for large screen"

[2017-12-14 05:33] xcv58 opened #32 "Find a way other than chrome.storage.sync to store user data"

[2017-12-14 05:34] xcv58 commented on #31
Fixed in 6799f8a270c7f7ee66685b747cf2f520752174f3

[2017-12-14 05:34] #31 closed

[2017-12-14 05:34] xcv58 commented on #5
Related to #32

[2017-12-14 05:42] xcv58 commented on #30
Not a good idea. Consider using our own server to host the data.
#32

[2017-12-14 05:42] #30 closed

[2017-12-14 05:43] xcv58 commented on #24
Related to #32

[2017-12-14 15:37] xcv58 opened #33 "Show current script size in the bottom and alert if above chrome sync limit"

[2017-12-16 22:31] #20 closed

[2017-12-18 07:29] xcv58 commented on #5
Fixed in 69d7c133a21943e3826d5a0e607fa60302527ca1

[2017-12-18 07:29] #5 closed

[2017-12-18 17:07] xcv58 opened #35 "Add non regex matched host?"

[2017-12-18 17:07] xcv58 opened #36 "Show live matching when add new regex pattern"

[2017-12-18 17:08] xcv58 opened #37 "Inject base.js failed since v3.1.1"

[2017-12-18 17:15] xcv58 commented on #37
The injection succeed but sometimes it executes after actual source:
https://github.com/xcv58/Custom-JavaScript-for-Websites-2/blob/a1f9a63761c0616f901c5203f6e0b544c509a7c9/src/js/run.js#L48

Need a way to enforce the order or figure out a way not rely on `window.xxx`

[2017-12-23 00:58] xcv58 commented on #33
Fixed in 69f06c239848ed65f353934e4c89d40384627ae5

[2017-12-23 00:58] #33 closed

[2017-12-23 17:24] xcv58 opened #38 "Stale scripts if reset draft after save"

[2017-12-24 18:42] #38 closed

[2017-12-24 20:46] #37 closed

[2017-12-31 19:58] xcv58 opened #39 "Support Firefox, Safari and Opera?"

[2017-12-31 20:01] xcv58 commented on #39
Blocked by https://github.com/xcv58/Custom-JavaScript-for-Websites-2/issues/32

[2017-12-31 20:03] xcv58 commented on #39
[Creating One Browser Extension For All Browsers: Edge, Chrome, Firefox, Opera, Brave And Vivaldi](https://www.smashingmagazine.com/2017/04/browser-extension-edge-chrome-firefox-opera-brave-vivaldi/)

[2018-01-21 14:51] piccorocoso commented on #24
Run local web server like AppServ, Xamp

[2018-02-01 00:32] Vermeille commented on #32
Hi.

Why? I was about to ask "Can you expose chrome.storage.sync in the scripts so that they can store data?", but I guess you'll refuse, given this issue.

So, out of curiosity, why do you want to get rid of it? (and how could we store the scripts' data?)

Thanks :)

[2018-02-01 01:31] xcv58 commented on #32
First of all. when I said `data` I mean the user's script not something user will use to store the actual data.

The reason to look this direction is that the `chrome.storage.sync` has some limitations, i.e. the quota bytes per item (the scripts size), max items (how many websites you can use).
More in https://developer.chrome.com/apps/storage#type-StorageArea

And there are already several users

[2018-02-01 01:40] xcv58 commented on #32
But `chrome.storage.sync` does have some benefits:
1. Offline support
2. Seamlessly sync
3. Isomorphic in both webpage and background process, which means no need to worry about CORS issue

[2018-02-01 03:50] Vermeille commented on #32
Thank you for your quick and detailed answer!

FYI, to store user data (ie, not the scripts, but the data they may want to store and sync), I considered https://keyvalue.xyz/ which could be used by a 5yo. Though, given CORS and stuff (I'm not super familiar with JS), I might not be able to use it until it's in the manifest.

Btw, how would you load an external library without being killed by the p

[2018-02-02 00:35] xcv58 opened #40 "Fix external script description"
Thanks @Vermeille

[2018-02-02 03:22] #40 closed

[2018-02-10 03:01] Vermeille opened #42 "Extra scripts dialog broken"
Hello,

When the first semicolon is typed into the Extra Scripts dialog box, it is changed to a \n automatically, which is surprising, and, I guess, not intended.

I fail to load some scripts (even when they have the correct MIME type) for unknown reasons (maybe related to that). If a script fails to load, is it possible to display the error in the console?

Have a great day!

[2018-02-10 05:20] xcv58 commented on #42
I'm sorry for the inconvenience. There is a workaround to fix this. You can write correct format in an editor and copy paste to the input box.

I'll fix this bug as soon as possible.

Thank you!

[2018-02-10 05:21] xcv58 opened #43 "Fix the extra script input box"
details in #42

[2018-02-10 10:58] Vermeille commented on #42
Thank you for your quick answer and work around!

[2018-02-10 15:04] Vermeille commented on #32
Why just not using GitHub actually?

[2018-02-10 16:35] xcv58 commented on #32
Couple reasons:
1. Privacy, some users want their scripts not public. I know it's doable via private repo (paid) or private gist (free but has scalability issue).
2. Scalability reason as I mentioned above. In addition, users may store scripts for many websites, we need a way to ensure loading one website's script without loading all scripts. My intuition is that GitHub would be hard for this.

Bu

[2018-02-21 10:07] lulu5239 commented on #32
J'ai trouvé la solution :
1- Aller dans votre dossier avec votre nom, "AppData", "Local", "Google", "Chrome", "User Data", "Default", "Extensions", "ddbjnfjiigjmcpcpkmhogomapikjbjdk" puis chercher dans les dossiers un fichier "manifest.json".
2- Ajouter dans la liste "permission" "unlimitedStorage".
Fini !

[2018-02-21 11:12] angeliski opened #44 "Not working"
I install the extension, but does'nt work. I see the console, but nothing is printed, for any website.
I use the old extension and don't have problem. Any sugestion?
Chrome: Version 64.0.3282.167 64 bits
OS: Mac Sierra 10.12.6

[2018-02-21 15:17] angeliski commented on #44
Hey @xcv58 , I have the get I work around:
![cjs](https://user-images.githubusercontent.com/1574240/36488018-1fce42d2-1701-11e8-8baa-984d3f616e9e.gif)
When I remove the content of "External Scripts" the cjs work.

Can you check that?

[2018-02-21 17:01] xcv58 commented on #32
@lulu5239 could you please use English?

[2018-02-21 17:03] xcv58 commented on #44
I'll try to reproduce this bug. Thanks for reporting this.

[2018-02-21 17:52] lulu5239 commented on #32
TRANSLATION OF GOOGLE TRANSLATION:
I found the solution :
1- Go to your folder with your name, "AppData", "Local", "Google", "Chrome", "User Data", "Default", "Extensions", "ddbjnfjiigjmcpcpkmhogomapikjbjdk" then search in folders a file " manifest.json. "
2- Add to the list "permission" "unlimitedStorage".
Finished !

[2018-02-21 20:25] xcv58 commented on #32
@lulu5239 Thanks.

The `unlimitedStorage` is not a valid solution.

https://developer.chrome.com/extensions/declare_permissions

Our limitations is Google chrome sync.
https://developer.chrome.com/apps/storage

[2018-02-23 15:19] lulu5239 commented on #32
Alors la dernière solution est de dupliquer l'extension puis de la modifier.

So the last solution is to duplicate the extension and then modify it.

[2018-02-23 18:55] xcv58 commented on #32
@lulu5239 Sorry I don't understand what you said.

[2018-02-24 10:02] lulu5239 commented on #32
[It is necessary to copy the file of the extension and to modify it.](https://translate.google.fr/?hl=fr&tab=wT#fr/en/Il%20faut%20copier%20le%20dossier%20de%20l'extension%20et%20le%20modifier.)

[2018-03-03 14:05] mikegee commented on #44
I was having the same trouble. The workaround shown got console output to show up for me. Including jQuery also got it to work.

Here's the noise in the console when it isn't working, in case that's helpful:

<img width="675" alt="screen shot 2018-03-03 at 9 04 38 am" src="https://user-images.githubusercontent.com/14068/36935158-001131e8-1ec2-11e8-82ac-2eb1fdea4286.png">

[2018-03-03 18:43] xcv58 commented on #44
Thanks for your feedback. @angeliski @mikegee  Sorry for the inconvenience caused by the bug.

Could you please check the latest version v3.1.6?

And I open #45 to improve the workflow for the external script.

[2018-03-03 21:26] mikegee commented on #44
No worries. Thanks for your work on this project.

[2018-03-04 03:31] xcv58 commented on #44
Thanks, @mikegee for understanding. Could you please confirm whether the v3.1.6 works for you when you have time?

[2018-03-04 03:33] xcv58 opened #46 "Investigate how to do integration test"

[2018-03-04 04:11] xcv58 opened #47 "All input box doesn't work with popup mode"
Chrome Version 66.0.3355.0 (Official Build) dev (64-bit)

It will repeat any character forever once you input. Copy/cut/paste works fine.

[2018-03-05 11:13] angeliski commented on #44
Hey @xcv58 , thank you for your fast response. Work for me in v3.1.6 :)

[2018-03-05 17:34] mikegee commented on #44
3.1.6 doesn't have this bug for me either. Thanks!

[2018-03-05 18:31] xcv58 commented on #44
Thanks for confirming! @mikegee @angeliski

[2018-03-05 18:31] #44 closed

[2018-03-12 15:31] RobKohr commented on #32
It would be nice if the editing box alerted you to when the limit is hit so you can reduce the size of things to fit in the limit (rather than finding out when you try to save)

[2018-03-12 16:37] xcv58 commented on #32
Thanks for suggestion @RobKohr

I was considering the same thing. But alerts are annoying. How about change the color and put some warning in the bottom of the size indicator?

![image](https://user-images.githubusercontent.com/503123/37296704-fc8e21fc-25d8-11e8-9f98-fb3901c91ae7.png)

[2018-03-22 03:52] xcv58 commented on #47
It's fixed by Chrome

[2018-03-22 03:52] #47 closed

[2018-03-22 03:53] #29 closed

[2018-03-22 03:54] xcv58 opened #48 "Upgrade dependencies"

[2018-04-01 15:48] xcv58 opened #49 "The warning for reseting regex is wrong"
![image](https://user-images.githubusercontent.com/503123/38174912-695d5d74-3589-11e8-97a3-92f134fc7f4b.png)

[2018-06-30 03:28] xcv58 opened #52 "Use dropbox to store the script?"

[2018-07-17 05:09] adrianofoschi opened #53 "Does not work anymore"
Hi, I used the extension for months but it doesn't work anymore apparrently without a reason.
I insertend an alert('foo') in page script but it doesn't appear on page.

For example if I try to add a script on github I see this error in console:

Refused to execute script from 'https://github.com/undefined' because its MIME type ('text/html') is not executable, and strict MIME type checking is enab

[2018-07-17 05:37] xcv58 commented on #53
Thanks, @adrianofoschi I can't reproduce the bug on my laptop.

Does it work for other websites? Could you please tell me your operating system version and chrome version?

[2018-07-17 06:08] adrianofoschi commented on #53
It worked with my old-saved scripts but If I edit one it saves it but it executes the old script.
It happens with every website.

I tried on 2 systems, with 2 different google accounts:
- Linux 4.17.5 (ArchLinux 64 bit), Chrome 63.0.3239.132 (Official Build) (64 bit)
- Windows 10 (Pro 64 bit), Chrome 67.0.3396.99 (Official Build) (64 bit)

[2018-07-17 17:02] xcv58 commented on #53
I think you may forget to click the `Save` button at the top left.
![image](https://user-images.githubusercontent.com/503123/42833258-729b9950-89a8-11e8-8bdf-2438368258ad.png)

[2018-07-21 00:44] xcv58 opened #54 "Fix CircleCI build"

[2018-07-22 16:36] xul8tr opened #55 "Recently stopped working."
Tried with current version and dev. The popup just shows a spinning blue circle and when i inspect it complains about

    Array.from(o, function() {
            throw 2
        })

popup.js:63 Uncaught (in promise) Error: Get no data for active tab!
    at popup.js:63
    at Generator.next (<anonymous>)
    at r (popup.js:63)
    at popup.js:63
    at new Promise (<anonymous>)
    at popup.js:63

[2018-07-23 01:35] xcv58 commented on #55
Thanks @xul8tr
Does this happen for all tabs or just some tabs?

[2018-07-23 07:44] xul8tr commented on #55
All, i tried on 2 different computers

[2018-07-23 14:30] xcv58 commented on #55
The message `The message port closed before a response was received` should appear in development mode only. Are you trying to dev this extension?

I can't reproduce the same bug on my laptop. Could you please provide your operating system and chrome version?

[2018-07-23 19:41] xcv58 commented on #55
I can only reproduce your bug once on Chrome Dev. Does it work without `Inspect Popup`?

If yes, you can open it in a new tab and inspect the normal tab.

[2018-07-23 20:00] xul8tr commented on #55
No, it just sits and spins, 2.5.1 works.

[2018-07-23 20:16] xcv58 commented on #55
Do you mean the (2.5.1)[https://github.com/xcv58/Custom-JavaScript-for-Websites-2/releases/tag/v2.5.1]?

Could you please try 3.0.0?

[2018-07-23 21:16] xul8tr commented on #55
I went from latest tag to the next, one by one. It wasn't until 2.5.1 that it worked in developer mode.

[2018-07-23 23:45] xcv58 commented on #55
Tried several possible ways to reproduce the bug. All below can't reproduce the bug:

- Use `npm` instead of `yarn`
- Use lower version node
- Use different versions of Chrome

It seems the bug occurs during the connection between the extension and background page:
https://github.com/xcv58/Custom-JavaScript-for-Websites-2/blob/fb9ae5924426ad84721de916572832489682384a/src/js/stores/AppStore.js#L102

[2018-07-25 17:37] askrenes commented on #32
Might consider adding a JS minification function. Won't solve the problem of additional storage, but it would help shrink the bytes needed to be stored.

I also like the GitHub storage option.

[2018-07-25 18:10] xcv58 commented on #32
Thanks, @askrenes
As you said minification wouldn't solve the problem because it can only save limited space and it's one-way function, the user can't edit or even read the code after minification.

Beside GitHub, I also consider the Dropbox as file storage solution.

[2018-07-25 20:05] #54 closed

[2018-07-25 23:33] xcv58 opened #56 "Add release script"

[2018-07-26 11:15] Vermeille commented on #32
GitHub is so much better :)

You might even consider automatically adding a header with some keywords so that a search on github will reveal extensions written for CJS2 :)

[2018-09-05 23:05] xcv58 opened #57 "Scripts permissions"
Love this extension, however, I am unable to execute any javascript on certain sites: Asana and Outlook, specifically. This is the error I keep running into: "Blocked script execution in 'https://app.asana.com/-/page_load_cookies?sync_cluster=prod' because the document's frame is sandboxed and the 'allow-scripts' permission is not set." Please advise as I am unable to edit the iframe's sandbox att

[2018-10-30 13:55] samarpw opened #58 "Add Support for CSS - Feature Request"
Please add CSS editor to add custom styles. thanks

[2018-10-30 17:48] xcv58 commented on #58
I suggest this extension https://chrome.google.com/webstore/detail/stylish-custom-themes-for/fjnbnpbmkenffdnngjfgmeleoegfcffe

It focuses on the CSS only.

[2018-10-30 23:18] samarpw commented on #58
This extension https://chrome.google.com/webstore/detail/stylish-custom-themes-for/fjnbnpbmkenffdnngjfgmeleoegfcffe is heavy 1.85Mb bloatware we don't need that much features. We Just need simple CSS editor in your extension which I think can easily be added. I'm not developer otherwise I would have enhanced your extension myself.

So, I request you please add CSS Editor Feature/Functionality. It

[2018-10-30 23:29] xcv58 commented on #58
Thanks, I'll investigate how to do that.

[2018-10-31 06:52] xcv58 commented on #42
Fixed in #44

[2018-10-31 06:52] #42 closed

[2018-10-31 06:53] #43 closed

[2018-11-02 18:09] xcv58 opened #59 "Infinitely loading."
I have faced similar issue during development. But it was usually eliminated after reloading the extension. I will dig into it.

[2018-11-02 18:11] xcv58 commented on #58
@samarpw the v3.2.1 has css style support. It just highlights the code you wrote into css way. Not a real css support.

[2018-11-04 04:42] xcv58 commented on #59
Fixed in 32512e86dab2ec1300fc1e41ad0d590d80fb56e1

[2018-11-07 20:59] #59 closed

[2018-11-07 21:00] #58 closed

[2018-11-21 01:16] adamtaylor13 commented on #32
Hey this limit is pretty... well.. limiting.. while I try to build a fairly large script. Any work arounds for the time being or is this still an active consideration to use GitHub repos to store scripts?

[2018-11-21 01:18] xcv58 commented on #32
@adamtaylor13 you can use this workaround for now: https://github.com/xcv58/Custom-JavaScript-for-Websites-2/issues/24#issuecomment-349041736

[2018-11-21 03:18] adamtaylor13 commented on #32
@xcv58 Wouldn't that get stopped by CSRF stuff?

[2018-11-21 04:59] xcv58 commented on #32
@adamtaylor13 the host website has to support CORS request.

[2018-11-30 19:25] xcv58 opened #60 "Add warning to make it clear user has to click save before the code takes effect"
One idea is to make the save button red or any other eye-catching color.

Another is to show alert before user closes the window to warn that the code is stored but not applied.

[2019-01-10 16:52] adamtaylor13 opened #61 "Can not load data"
Got this message today when opening the app:
Tried opening in a new page, to no avail.

There doesn't seem to be any information related to this so I'm not sure what information would be pertinent.

![image](https://user-images.githubusercontent.com/2922753/50983675-8ee50f80-14c5-11e9-8b80-0123c90ea894.png)

Also found this in the console, but not sure if it relates to the extension:
![image](http

[2019-01-10 16:57] adamtaylor13 commented on #32
Following up here: Have you considered using IndexedDB for this? I've used it for a recent extension I was developing and it's very fast + easy to use. Would also remove any kind of size limitation.

[2019-01-10 17:48] KyleKing commented on #61
I ran into the same issue about 10 am this morning. Chrome `71.0.3578.98` on Windows 7. The stack trace points to this function (the `return n.apply(this, arguments)` in particular):

[code]

[code]

[2019-01-10 18:03] xcv58 commented on #32
Thanks @adamtaylor13 . There are two issues with IndexedDB.

It's unique to an origin:

https://developers.google.com/web/ilt/pwa/working-with-indexeddb#what_is_indexeddb

It has no way to sync the scripts across machines.

[2019-01-10 18:05] xcv58 commented on #61
I have the same issue on macOS, Chrome `Version 72.0.3610.2 (Official Build) dev (64-bit)`

[2019-01-10 18:05] xcv58 commented on #61
This issue related to https://github.com/KeithHenry/chromeExtensionAsync/issues/10

[2019-01-10 18:18] adamtaylor13 commented on #61
So this should be fixed with this PR? https://github.com/KeithHenry/chromeExtensionAsync/issues/10#issuecomment-444265079

[2019-01-10 18:19] okom3pom commented on #61
Same Windows 10 -> Version 71.0.3578.98 (Build officiel) (64 bits)

Thx for your job

[2019-01-10 18:21] xcv58 commented on #61
The https://github.com/KeithHenry/chromeExtensionAsync/issues/10#issuecomment-444265079 will fix this bug. But they haven't released the fix yet. I will make a local copy for it to fix our problem in the next few hours.

[2019-01-10 18:36] xcv58 commented on #32
Yup, S3 is a good solution for immutable scripts. It may not works well for frequently updating scripts.

[2019-01-10 18:50] xcv58 commented on #32
Possible candidates:

- AWS AppSync, https://aws.amazon.com/appsync/
- Dropbox, https://github.com/dropbox/dropbox-sdk-js
- Prisma, https://www.prisma.io
- Firebase, https://firebase.google.com

Something we missed from the native chrome sync:

- Offline support
- Seamlessly sync
- Isomorphic in both webpage and background process, which means no need to worry about CORS issue
- Seamlessly Authent

[2019-01-11 00:53] xcv58 commented on #61
Can you upgrade to `v3.3.0` to see whether it fix the bug?

[2019-01-11 01:08] adamtaylor13 commented on #61
@xcv58 That fixed it!

[2019-01-11 03:00] xcv58 commented on #61
Thank you all for reporting this and confirming the fix.

[2019-01-11 03:00] #61 closed

[2019-01-11 08:09] okom3pom commented on #61
Fixed for me too
Thank again

[2019-01-27 17:06] iriman opened #62 "break in proper functionality of a site"
I was testing some stuff for openstreetmap.org with cjs on chrome, but it made me surprised by changing preview button into save!  :)

Steps to reproduce:

1. Go to openstreetmap.org
2. Create a new javascript rule. Mine is this:

[code]

[2019-01-28 19:54] xcv58 commented on #62
It's highly possible that the website openstreetmap.org has jQuery already. And you inject another jQuery with a different version (which is not necessary).

I think just don't inject external jQuery will work.

[2019-01-28 20:55] iriman commented on #62
Yes, it's working without injecting jquery.
Maybe it would be useful if it was possible to be notified about such possible conflicts. thanks.

[2019-01-28 21:10] xcv58 commented on #62
Thanks for confirming.

It's really hard to do so because some websites may use async load and different libraries have different way to check whether it exists.

[2019-01-28 21:10] #62 closed

[2019-03-13 02:23] KyleKing opened #63 "Dark Mode-Friendly Icon"
Would you be open to changes to the CJS icon? Chrome may getting the Dark mode soon and the icon is kind of hard to see with the dark background:

<img width="39" alt="Screen Shot 2019-03-12 at 22 18 12" src="https://user-images.githubusercontent.com/3784339/54249092-54274400-4515-11e9-8e6c-8e660543341c.png">

I'd be happy to help submit some ideas, but wanted to run it by others first. It looks l

[2019-03-13 16:49] xcv58 commented on #63
Sure, it would be great if you can provide an icon for the dark mode.

[2019-03-14 02:09] #63 closed

[2019-03-14 02:18] xcv58 commented on #63
Thanks, @KyleKing I published a new release, it may take an hour for Chrome web store to polulate.

[2019-03-14 12:47] KyleKing commented on #63
Thanks! It hit all my browsers this morning

[2019-03-27 05:08] marcussacana commented on #39
Opera supported (v1 and v2) using:
https://addons.opera.com/pt-br/extensions/details/install-chrome-extensions/

Edge supported (v1 only) using:
https://www.microsoft.com/pt-br/p/microsoft-edge-extension-toolkit

![image](https://user-images.githubusercontent.com/10576957/55051730-2c67ce00-5035-11e9-9b83-f21cf3da8561.png)

[2019-03-27 05:53] xcv58 commented on #39
Thanks @marcussacana The first link works. But the second link is broken for me:

![image](https://user-images.githubusercontent.com/503123/55053547-c7eb4580-5019-11e9-8c06-a4e898e1ab7b.png)

[2019-03-27 14:37] marcussacana commented on #39
srry, https://www.microsoft.com/en-us/p/microsoft-edge-extension-toolkit/9nblggh4txvb?rtc=1&activetab=pivot:overviewtab

[2019-05-08 18:47] Timmiej93 commented on #24
I have found a much easier way to get around this issue, for most cases.
Write your large script and store it on dropbox. On dropbox, copy the "dropbox link". If you enter this link in a browser, it will take you to a dropbox styled preview window. If you now replace `www` with `dl`, you get the raw text file.
In the extension, click the add your own external scripts button, and paste the link you

[2019-05-23 04:54] xcv58 opened #65 "Migraine to typescript"

[2019-05-30 04:38] xcv58 opened #66 "Add Firefox support"
https://github.com/xcv58/Tab-Manager-v2/commit/d97521310dfc5b687e7a3663638a1bc802823a4a

[2019-08-01 21:45] xcv58 opened #69 "Add information to console log to prevent someone occasionally enable empty script for a website"

[2019-08-02 03:37] xcv58 commented on #69
Fixed in 2d45b3f4f8a5c8ca1e9326e39bb1f391d60b500c

[2019-08-02 03:37] #69 closed

[2019-08-03 02:52] #55 closed

[2019-08-07 02:08] xcv58 commented on #65
Fixed in 1b214662f76086bc7d18b56fb6c5d82687d8dd64

[2019-08-07 02:08] #65 closed

[2019-08-13 13:15] xul8tr opened #72 "Format Code"
Ability to "Prettify" code

[2019-08-13 13:16] xul8tr opened #73 "Ability to edit Regex hosts"
It would be nice to be able to edit regex hosts added to the list.

[2019-08-13 13:17] xul8tr opened #74 "Ability to delete hosts"
It would be nice to be able to remove hosts from the list

[2019-08-13 13:19] xul8tr opened #75 "Host Dropdown mouse scroll doesn't work"
When you click the drop down for hosts and attempt to use the scroll on the mouse, it does not scroll up and down, you must click and drag the scroll bar

[2019-08-13 13:30] xul8tr opened #76 "You can inject your own private script"
Adding a url is a bit confusing. It must start with // otherwise it won't add. Maybe add a table in which you can manage the URLs with an add/edit button.

[2019-08-14 03:50] xcv58 commented on #74
You can click the `Reset` button to clear current host.

[2019-08-14 03:50] #74 closed

[2019-08-14 03:52] xcv58 commented on #76
Thanks, @xul8tr

It's a good idea.

[2019-08-14 03:55] xcv58 commented on #73
The feature is dangerous because the user can easily mess up the existing setting and there is no way to revert the change. Let's say one has script A tie to regex_1, then the regex_1 be changed to regex_2. It's hard to restore it back to regex_1 if don't remember it exactly.

And there is a workaround for this, you can copy the script and open a new regex pattern and paste the codes.

[2019-08-14 03:56] xcv58 commented on #72
It sounds overkill for me. I think you should use whatever editor you prefer to edit the script and paste it in the extension if it's very long.

[2019-08-14 04:43] xcv58 commented on #75
It should be fixed in v3.3.3.

[2019-08-16 06:04] xcv58 opened #77 "Add release script"
https://github.com/xcv58/Tab-Manager-v2/blob/master/package.json#L12

[2019-08-18 02:16] xcv58 opened #78 "Use chrome-webstore-upload-cli to publish to Chrome Webstore"
https://github.com/DrewML/chrome-webstore-upload-cli

[2019-08-18 17:10] xcv58 commented on #77
Fixed in 080dabee6dd7203548d396adb544dbe522c43294

[2019-08-18 17:10] #77 closed

[2019-08-19 00:34] xcv58 commented on #78
Fixed in 571a4803ee0c8667c1e73745140536c15e5436f0

[2019-08-19 00:34] #78 closed

[2019-08-23 17:06] xcv58 opened #79 "Changes to Cross-Origin Requests in Chrome Extension Content Scripts"
https://www.chromium.org/Home/chromium-security/extension-content-script-fetches/

[2019-09-03 18:46] xul8tr commented on #73
Yes but then you get a bunch of random hosts in the lists. You have to test a bunch of regex's sometimes to get it to work on multiple environments with different url's and such. I think people who are using regex are advanced enough to not care about history. They will find the one that works again.

[2019-09-03 18:47] xul8tr commented on #72
A lot of the time, I'm free handing the in the chrome console then copy/paste. It seems weird that you'd have a lint engine but not a formatter.

[2019-09-04 05:27] #75 closed

[2019-09-04 05:32] xcv58 commented on #72
The lint tool is a built-in feature of Ace editor https://ace.c9.io. And I don't think it contains native prettify tool for it.

[2019-09-24 06:11] xul8tr opened #81 "Options on where to inject script"
Currently, it seems to inject the script at the bottom of the body element. This is causing me an issue currently as I am trying to set a cookie before window.onload.

 It would be nice to have a drop-down that allows you to put it in any of these positions:

1. First script in HEAD tag
2. Last script in HEAD tag
3. First script in BODY tag
4. Last script in BODY tag
5. Call before defined window'

[2019-09-24 06:16] xul8tr commented on #72
It looks like there is an extension

[https://stackoverflow.com/questions/31767051/how-do-i-use-beautify-in-ace-editor](https://stackoverflow.com/questions/31767051/how-do-i-use-beautify-in-ace-editor)

[2019-09-26 01:58] xcv58 commented on #72
It's fixed in v3.4.0

[2019-09-26 01:58] #72 closed

[2019-10-08 11:25] xul8tr commented on #72
Nice! Thanks so much!

[2019-10-15 18:34] apollolux opened #82 "[Question] The original was updated 2019 Oct 13! What now?"
Hello! Due to security policy at work we're stuck with the original CJS on the office-wide extension whitelist instead of the much better CJS2 which I use on a personal comp . What I've done on my install is customize it to my personal liking, which doesn't persist because every time Chrome opens it then considers the extension "corrupt" and I have to re-install it then copy my edited version of t

[2019-10-15 18:38] xcv58 commented on #82
I will take a look of the original one.

[2019-10-17 02:08] xcv58 commented on #82
@apollolux thanks for letting me know this.

I didn't see any significant improvement from the v2.2.5. I tried to contact the original author of Custom JavaScript for Websites to see whether we can collaborate together.

[2019-10-17 06:12] xcv58 commented on #56
Fixed in 080dabee6dd7203548d396adb544dbe522c43294

[2019-10-17 06:12] #56 closed

[2019-10-17 06:25] xcv58 commented on #82
@apollolux exciting news, I find the original author: Dan https://twitter.com/junkycoder. I invited him to discuss the future plan for the extensions.

[2019-10-17 06:39] junkycoder commented on #82
Mean while, @apollolux have you chance to install chrome extension manually (chrome://extensions)? Mby you can just download the ZIP of CJS2 and install it to your office computer..

[2019-10-17 06:45] xcv58 opened #83 "Multiple log messages even I disable for the website"
![image](https://user-images.githubusercontent.com/503123/66984129-ff314a80-f06e-11e9-93bb-e683d8e542ff.png)

[2019-10-23 12:06] begrs opened #84 "External script stopped working since update to 3.4.1"
The external script is no longer being loaded.

The website specific code:

`requirejs.config({
  baseUrl: 'http://someurltoouronpremiseserver/js/file.js
});
requirejs(['UserConfigs/my_config'], function() {
  requirejs(['dist/plugins.dev']);
});`

External Scripts:
`//cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js`

The code is in version control and was not changed on my part. Th

[2019-10-23 16:41] Wiethoofd commented on #84
Looks like some javascript snippets are simply not being loaded or executed anymore.

The default provided `customjsReady` (according to the readme.md) also throws the following error when used in any code you try to run: `Uncaught ReferenceError: customjsReady is not defined`

[2019-10-23 17:23] xcv58 commented on #84
I believe it's caused by #79
I will try to fix this.

[2019-10-24 02:54] xcv58 commented on #84
The `customjsReady` doesn't work for some webpages if their server returns specific content security policy. For example, the GitHub has below policy, so that the base.js injection would fail:

However, I can't reproduce @begrs 's bug. Could you please tell me your Chrome, OS version, and the webpage you tried to use?

I'm on macOS 10.15.1, Chrome Version 77.0.3865.120 (Official Build) (64-bit). I

[2019-10-24 11:04] begrs commented on #84
System: Win10, Chrome Version 77.0.3865.120 (Offizieller Build) (64-Bit)

The url on which I use cjs is a http (not https) page that is hosted on a webserver in the **local Intranet**.
That is why I can not send you the url. The webserver is only accessible from the same network my PC is connected to. The webserver does **not** run **locally** on my PC so the usual content policy restrictions that

[2019-10-24 17:21] xcv58 commented on #84
Thanks @begrs

Is there any console log when you load the website? If yes, is it possible to share it so that I can find the root cause?

[2019-10-24 20:50] xcv58 commented on #23
Actually it is possible to enable extension for chrome:// scheme this: https://stackoverflow.com/a/19046796

https://developer.chrome.com/extensions/match_patterns

[2019-10-25 08:39] begrs commented on #84
Thats the log from the dev console for the website. The middle one is the error.

There is no background page to debug so here is the domain list from the sources tab in the chrome dev tools, used on the website that I try to use cjs with:

![cjs_script_domains](https://user-images.githubusercontent.com/10938362/67556590-b7b45980-f713-11e9-9a39-06f8702632ff.PNG)

[2019-10-25 16:54] xcv58 commented on #84
Thanks, now I can reproduce the bug, will work on this in few hours.

[2019-10-25 17:18] xcv58 commented on #84
I find a quick workaround. We can wrap the function with `setTimeout` to defer when it executes. Because it seems the injection succeeds. But since they are injected at the same time, when your script executes the library is ready.

The sample code:

[code]

console output:
[code]

I'll try to find the root cause and try to fix it.

[2019-10-26 06:13] xcv58 commented on #84
It should be fixed in v3.4.2

@begrs could you please confirm whether it works on your side?

[2019-10-29 08:02] soavarice commented on #84
$.getScript('https://.../index.js');
returning in the console ->Uncaught ReferenceError: $ is not defined
I think is this since 3.4 version

[2019-10-29 08:22] begrs commented on #84
Sorry, I was out of the office until today.

Confirmed, the issue is resolved in 3.4.2 !
Thanks for the quick response :)

regarding @soavarice : The reason my snippet uses requirejs in the beginning, is that our scripts would sometimes be loaded out of order because the internal webserver hosting http://someurltoouronpremiseserver/js/file.js was sometimes slower than the cdn. This is therefore no

[2019-10-29 08:22] #84 closed

[2019-10-30 05:33] xcv58 commented on #84
@soavarice could you please create another issue if the problem persists?

[2019-10-30 05:33] xcv58 commented on #83
Fixed in 775c856008d644eb3730b1b49458dec3bb685841

[2019-10-30 05:33] #83 closed

[2019-11-06 19:12] xul8tr commented on #32
What about using a javascript based text/object compess/decompress? This won't solve the issue but it will give you much more available space

[2019-11-06 19:14] xcv58 commented on #32
It can save some space but still limited by the chrome.sync limitation.

[2019-11-20 16:38] mallove opened #85 "Add "Export as Extension" button"
Not sure if something like this is feasible or worthwhile, but is there a way to export the custom javascript from this extension to a [standalone extension](https://developer.chrome.com/extensions/getstarted)?

<img width="823" alt="Screen Shot 2019-11-20 at 11 30 18 AM" src="https://user-images.githubusercontent.com/17302884/69258013-f65df800-0b89-11ea-9657-7e4b261d9af9.png">

So this `Export as

[2019-11-21 11:52] xul8tr commented on #32
It should save up to 90% space, I wouldn't call "some". Plain text is very compressible. I did a test with lzwCompress.js and I was around 90% compressed. So though it doesn't solve the issue, it does give way more space than before, and something is always better than nothing. Should be fairly easy to implement, basically, you just compress on save and decompress when you retrieve it.

[2019-11-22 06:43] xcv58 opened #86 "Use compression when store the scripts instead of saving the base64 string"
As mentioned here: https://github.com/xcv58/Custom-JavaScript-for-Websites-2/issues/32#issuecomment-550457913

We can use compress/decompress to save space.

[2019-11-22 06:44] xcv58 commented on #32
@xul8tr thanks for the clarification.

I did a simple test via [LZ-UTF8](https://github.com/rotemdan/lzutf8.js). It can save more than half-space.

![image](https://user-images.githubusercontent.com/503123/69403658-fe17bc80-0caf-11ea-9604-63475fe4fa8f.png)

I created the #86 to track this.

[2019-11-22 06:53] xcv58 commented on #85
It's totally feasible. But I'm not sure whether it's worthwhile. Because below reasons:

1. The standalone extension needs some metadata like name, version, author, permission, etc. In order to do this, we need to add some UI to input such information.
2. It's not immediately useable by just exporting a zip file. You need to register a chrome extension developer account (and pay the one-time regis

[2019-11-22 15:57] mallove commented on #85
Gotcha.

Maybe what I'm looking for is a central location for users to share useful CJS snippets ( a library, wiki, tips page?)  E.g., I dislike those twitter share popovers that all the WordPress sites are using, so the below one-liner removes them from some sites.  But I wonder if others have a better way of dealing with them.

[code]

[2019-11-22 18:08] xcv58 commented on #85
For the purpose, I suggest the Tampermonkey https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo?hl=en

and you can find and share scripts through these websites: https://www.tampermonkey.net/scripts.php

[2019-12-05 17:58] apollolux commented on #82
Hello @junkycoder & @xcv58  ! Sorry for the late reply, I missed the notification. I am unfortunately unable to install extensions manually at work due to the group policy. The "developer mode" toggle in chrome://extensions is essentially just for show in here as a result.

Also, as of Chrome 76 (I think, might have been 77 or 78 instead) any extensions that I customize while the browser is open a

[2019-12-05 18:12] xcv58 commented on #82
Could you please share more information like operating system and Chrome version so that I can try to reproduce it? And it would be great if you have any log message that can share it here without breaking your company policy.

[2020-01-07 18:03] #60 closed

[2020-01-27 13:08] El-Omar opened #88 "JS Snippet gets added to every iframe on the specific host"
If you add a snippet, specify a host, the code will be **injected** into that web page and therefore executed.
Now if you have an HTML editor (which depends on an <iframe>), the snippet will ALSO be injected there. So the text or markup that you will write, will also include the JS snippet that you have written for the current host.
This is a serious issue since we work with an admin panel (like a

[2020-01-27 21:22] xcv58 commented on #88
Thanks for the feedback. I think this can be solved in your code snippet part instead of the extension.

For example, assume your code is:

[code]

and it accidentally injects in the iframe one. You can simply wrap your code like this:

[code]

So that your code would execute only within normal tab instead of all iframe.

The iframe detection comes from https://stackoverflow.com/a/925091

There ar

[2020-02-02 13:47] El-Omar commented on #88
Thanks for the reply.
Yes you can track that within the code itself, but wouldn't the whole script still will be included in the other frames?
It wouldn't execute but you still have the script chunk included in the other frames.
That's not very ideal if the script gets included in an email page, because that will nuke your mail score and it will be considered by a lot of engines as a spam mail.
Th

[2020-02-03 00:16] xcv58 commented on #88
Yes, the scripts code would be injected into the iframes if it matches the rules.

Could you please tell me how you send out emails? Do you embed the iframe entirely in email?

[2020-02-03 12:16] El-Omar commented on #88
We use, as many people do, a WYSIWYG editor to send out emails.
In our CRM, we have a sending-emails-feature that allows users to write their email using a WYSIWYG editor (CKEditor) and then submitting or sending these emails.

How these editors particularly work is as follows:
You have your main iframe (.cke_wysiwyg_frame). Everything that the user writes, modifies or adds, it gets added to the b

[2020-02-03 18:27] xcv58 commented on #88
As you mentioned:

Could you please give me an example so that I can understand the process?

And AFAIK, directly embed an iframe are incompatible with a lot of email clients: https://www.campaignmonitor.com/blog/email-marketing/2015/07/do-iframes-work-in-email/

If you embed the actual content of the iframe but not the iframe itself, do you have any process to grab the content and embed it in the

[2020-02-03 19:58] El-Omar commented on #88
We don't have **literally** an iframe inside our email html, the iframe is what creates the html.

An example:
The editor works based on an iframe.
The editing process and writing process happens within that iframe window.
When you make a text bold, a strong tag will be added to the body tag of that iframe.

Then the textarea tag **that is outside the iframe (on the same Node level)**, as mentione

[2020-02-03 20:08] xcv58 commented on #88
Thanks and I got it. The workflow makes sense.

I still suggest that you can use a pre-process to wipe the unnecessary script tag before actually sending out the email. It should be easier and error-prone other than relies on the extension to support this use case.

For example, other extensions can inject js code in iframe as well and the option needs to be configured well. A misconfiguration can

[2020-02-03 20:53] El-Omar commented on #88
That's a great suggestion. If I could I would rewrite the whole backend from scratch, but unfortunately, the fact that I'm using the extension for styling and simple interaction purposes makes you consider the system itself as a whole.

[2020-02-03 20:53] #88 closed

[2020-02-03 20:55] El-Omar commented on #88
I will look into this further and maybe implement the feature as a request.
Thank you for the responses and for the help!

[2020-02-03 20:58] xcv58 commented on #88
You are welcome!

[2020-02-07 00:16] phyck opened #89 "Extension window displays with horizontal & vertical scrollbar (very annoying)"
Hi,

First of I really like your extension & use it a lot but I've got several issues/questions/suggestions:

- If I open the extension, the window displays a vertical & horizontal scrollbar which is very annoying/ugly (no offense) (screenshot: [https://imgur.com/u1JQLIG](https://imgur.com/u1JQLIG))
- It would love it if you could add a sync to google drive option (so we'll never lose any scripts

[2020-02-07 00:29] xcv58 commented on #89
Thanks for your feedbacks.

Sorry I can't reproduce on `macOS 10.15.2 (19C57)` with Chrome `81.0.4044.9`. I did try to set `Show scroll bars` to `Always` and it doesn't have the scrollbar.

Does it actually scrollable? Could you please try different Chrome, like https://www.google.com/chrome/dev/?platform=mac to check whether it has the same behavior?

I aware of the lack of current sync mechanism

[2020-02-07 01:00] xcv58 commented on #89
I tried the same setting, now I can reproduce it. Now sure whether we can config the extension to ignore it.

The CSS style support was asked by another user. I will try to make it clear it's just a styling thing.

[2020-02-07 01:11] phyck opened #90 "A script management page"
Like proposed earlier it would be great to have a **script management page** (in a new tab) to keep things tidy & to access CJS extension settings (you could start by adding a setting to select a hotkey to open the script management page in a new tab, to disable/enable CJS script for current page, etc...)
It doesn't have to be the prettiest of the bunch, keep it simple & straight forward. (I alway

[2020-02-07 06:38] xcv58 commented on #90
A patch in #91

Feel free to download and try it:
https://141-33996468-gh.circle-artifacts.com/0/dist/build.zip

![image](https://user-images.githubusercontent.com/503123/74006725-6e3df200-4931-11ea-916a-4bcf3380e9f0.png)

![image](https://user-images.githubusercontent.com/503123/74006723-6b430180-4931-11ea-9f7d-8775095306e5.png)

[2020-02-09 04:56] xcv58 commented on #90
Updated version from 4e480bbe9628df04b4a960c7fe004f543818ecf9: https://151-33996468-gh.circle-artifacts.com/0/dist/build.zip

[2020-02-19 08:56] SimonWai opened #92 "Transferring scripts to another account"
Is there a way to transfer my scripts from one Google account to another? Are the scripts stored locally besides on chrome.storage cloud sync, so that one can copy the relevant files over?

[2020-02-19 19:08] xcv58 commented on #92
Unfortunately, no.
I'll add an export and import function to let you manually do the transfer as a followup of

https://github.com/xcv58/Custom-JavaScript-for-Websites-2/issues/92

[2020-02-23 11:07] niteshdangi commented on #32
We can store our Main JS/CSS file on our _localhost_  and then add that js to website via _extension_. Some Websites may have **Content Security Policy** of Same Domain "script-src" **We can bypass that by by creating a dynamic <script> tag**.
    --When <script> tags are in the flow of an HTML document, the browser must stop rendering and
       wait for the script file to download and execute be

[2020-02-29 06:45] xcv58 opened #93 "Upgrade to antd 4.0"

[2020-04-29 00:59] Vermeille opened #95 "CSP blocking imported scripts"
Hi!

CSP ( https://developer.chrome.com/extensions/contentSecurityPolicy ) is blocking scripts imports from pretty much everywhere, and breaking many of my own scripts.

Could I suggest to add https://cdnjs.cloudflare.com as a trusted source to the manifest, as well as https://gitcdn.link that allows to host one's scripts to sit on Github?

Thank you very much!

[2020-04-29 03:05] xcv58 commented on #95
Sure, I'll add this support soon.

[2020-04-29 03:57] xcv58 commented on #95
Added in ca3b295a582c1817167551ea494ab9edf123dc7a and publish the v3.4.5 https://chrome.google.com/webstore/detail/custom-javascript-for-web/ddbjnfjiigjmcpcpkmhogomapikjbjdk

Could you please double-check whether the new version works for you?

[2020-04-29 03:58] xcv58 commented on #93
Fixed in 4c85feb8e4e6cd6d3d3015f0d0ebb36754e80af1

[2020-04-29 03:58] #93 closed

[2020-08-20 15:18] dxdc opened #145 "URLs being auto-added, CSS"
Great extension! A few questions/comments that would be really helpful to clarify from the docs:

1. Is it necessary to include JS in the following kind of immediately invoked expression and/or use `.noConflict` if jQuery libraries are included?

e.g.,
[code]

2. There is a `CSS`/`JS` select combobox in the panel, but it seems the `CSS` box doesn't do anything? It would be great to be able to add

[2020-08-20 15:46] xcv58 commented on #145
@dxdc Thanks for your feedbacks/questions.

I think it would be overkill to customize for a library.

It has nothing to do with CSS but only css syntax highlight, https://github.com/xcv58/Custom-JavaScript-for-Websites-2/issues/58

It's definitely doable. Not sure whether there is any drawback of this. I tend to not do this because there aren't a lot of benefits. I would suggest using this feature

[2020-08-20 16:17] dxdc commented on #145
@xcv58 thanks for the quick response!

I didn't quite get you on that. Did you mean that it isn't being done? I guess I just wonder how it should be used. E.g., what happens if jQuery extension is already loaded by that page?

OK. In that case, would be useful to add some kind of warning to the user that this is just for syntax highlighting. Maybe I'm missing the point, but I don't understand how/

[2020-08-20 16:58] xcv58 commented on #145
I totally agree with you. Feel free to file a PR if you want to.

I just tried it. If one just opens the extension popup and do nothing. The domain would in the list but it wouldn't be added to the storage until the user input character in the editor. PS: We need to add it to the list because of the draft feature when user input something.

It has to be in the list visually to indicate what host y

[2020-08-20 17:11] dxdc commented on #145
Agree with you. Just wondering how the current implementation is working (for the built-in jQuery one)

OK will consider it :)

So, here's what I did. Open 2 separate tabs with different domains. On tab 1, open CJS and then immediately close it. On tab 2, open CJS and immediately close it (note: domain from tab 1 will be visible). Now, we've added both domains from tab 1 and tab 2 to the list. It

[2020-08-20 20:11] xcv58 commented on #145
https://github.com/xcv58/Custom-JavaScript-for-Websites-2/blob/master/src/js/run.tsx#L10

It creates a div on the fly and set the `src` attribute.

I'm able to reproduce it this time. The code implement this is on:

https://github.com/xcv58/Custom-JavaScript-for-Websites-2/blob/master/src/js/stores/AppStore.tsx#L135-L136

One way to avoid this is delay `this.saveHosts()` to whenever users actually

[2020-08-21 02:28] dxdc commented on #145
Got it. OK thanks! Makes sense. I'm having an issue with certain pages where jQuery must be already loaded and trying to load it again is causing problems. I guess implementing my own JS for that will be better, this is just a fast and flexible approach.

Yes, exactly. I would agree delaying `this.saveHosts()` would be excellent!

Sure, understood. Thanks for the discussion!!

[2020-08-23 01:49] xcv58 opened #146 "Fix the hosts table navgiation"
As discussed in: https://github.com/xcv58/Custom-JavaScript-for-Websites-2/issues/145#issuecomment-677784123

Fix the hosts table navgiation: And it seems there is a bug for navigation links. I can fix

[2020-08-23 01:50] xcv58 opened #147 "Change the reset popup to have three buttons: Cancel, Reset, and Reset"
As discussed in https://github.com/xcv58/Custom-JavaScript-for-Websites-2/issues/145#issuecomment-677784123

[2020-08-23 22:08] xcv58 commented on #146
Fixed in 34babeb2769bcb68118e5360c0dec91055e2891b

[2020-08-23 22:08] xcv58 commented on #147
Fixed in 52522670ce10c91d879ce0b87f0dbd59ad8c71e0

[2020-08-23 22:20] #53 closed

[2020-08-23 23:16] xcv58 commented on #147
The fix is published in https://github.com/xcv58/Custom-JavaScript-for-Websites-2/releases/tag/v3.4.6

[2020-08-23 23:16] #147 closed

[2020-08-23 23:16] xcv58 commented on #146
The fix is published in https://github.com/xcv58/Custom-JavaScript-for-Websites-2/releases/tag/v3.4.6

[2020-08-23 23:16] #146 closed

[2020-11-09 02:33] juloko commented on #1
Why that is not available anymore? This is a Ryan Dahl dream.

[2020-11-09 03:09] xcv58 commented on #1
![image](https://user-images.githubusercontent.com/503123/98496106-aee6d680-21f5-11eb-8f9c-c46dc6f9c7fe.png)

This is still available, you can click "your own external scripts" and include the URL for the JS file.

[2020-11-09 12:53] juloko commented on #1
Thanks for the attention.

I saw someone talking about that link should be a CDN, I tried but didn't work.

Must be a specific CDN?

Follow my CDN link in below:
[https://cdn.jsdelivr.net/gh/juloko/BrotherBet-Bot/jobs/bet365Futsal.js](url)

Shoud  `console.log("There isn't any games.")`. But nothing happens.

In documentation said to put a `;` at the and but is not possible the field remove than a

[2020-11-10 03:45] xcv58 commented on #1
Sorry, you need to omit the `https:` part. I tried on github.com and it works:

![image](https://user-images.githubusercontent.com/503123/98625131-ecb23080-22c3-11eb-9fb1-21872e396325.png)

I'll try to make it more clear.

[2020-11-10 03:50] xcv58 commented on #1
It's caused by: https://github.com/xcv58/Custom-JavaScript-for-Websites-2/blob/master/src/js/run.tsx#L47

[2020-11-10 04:02] xcv58 commented on #1
Fixed in 21e91a1a2dc9b8a54330781b836101cbfc5be3fd

[2020-11-10 04:02] #1 closed

[2020-11-10 04:04] xcv58 commented on #1
Please feel free to reopen this issue or open a new one.

This functionality shouldn't hard to implement, we can use a similar way like the `customjsReady ` https://github.com/xcv58/Custom-JavaScript-for-Websites-2/blob/master/src/js/base.tsx#L40

[2020-11-14 01:23] xcv58 commented on #46
We can use puppeteer to do the integration test.

[2020-11-14 01:24] #46 closed

[2020-11-14 01:24] xcv58 opened #171 "Add integration test"
Related to #46

We can use puppeteer to do the test.
But we need to figure out the way to inject the js code and how to validate it.

[2020-11-19 03:20] xcv58 commented on #171
Added in 69f8a4d72ee8e04c5f733159eab027b0172f7996 and 6727a955ef4d79060e4ccff007f740b21dc581c4

[2020-11-19 03:20] #171 closed

[2020-11-27 04:01] nlaitan opened #177 "Support for ECMA 262 (ECMAScript® 2020)"
Hi!
Thank you for maintain this project!

Can you add support for this recent ECMA? I encounter a new function on her and Chrome already runs with that. The function it's replaceAll and it's more intuitive than use replace method with a regex.

[More info here](https://tc39.es/ecma262/#sec-string.prototype.replaceall)

Regards, Nico

[2020-11-27 04:16] #177 closed

[2020-11-27 04:17] nlaitan commented on #177
Closed, the extension works well, only there are no snippets for that.

[2020-11-30 18:44] xcv58 opened #180 "Custom JavaScript for Websites Init Twice Issue"

[2020-11-30 18:47] xcv58 commented on #180
I couldn't reproduce this on Chrome Version 88.0.4324.11:
![image](https://user-images.githubusercontent.com/503123/100650847-6a80bf00-32f9-11eb-8dcb-8cc0a32a5d0f.png)

[2020-12-01 02:34] Darrellwan commented on #180
I found the root cause and apologize for it's not issue from the extension .
After I tried to console the document title and location href in the extension. It returned two different title, one of them is saleforce toolkit in dev environment.
<img width="365" alt="2020-12-01 10_29_46-Clipboard" src="https://user-images.githubusercontent.com/6909524/100689903-5bb10f80-33c0-11eb-90bd-837fd0f9d147.pn

[2020-12-01 03:41] xcv58 commented on #180
Cool, thank you for the follow-up @Darrellwan

[2020-12-01 03:41] #180 closed

[2020-12-15 01:08] hello-smile6 commented on #32
I use the extension on [Quora](https://quora.com/) to override their signin prompt using the javascript `setInterval(function() {void(document.body.className=null)},10);document.body.style=null;void(0)`. I used to use that as a bookmarklet and I hated clicking it every time. Now, the browser extension just deletes the prompt and lets me read easily.

[2020-12-15 01:11] hello-smile6 opened #184 "Why does the extension need browsing history?"
I like this, but I am mad that the extension wants my browsing history. Please tell me why.

[2020-12-15 01:14] hello-smile6 opened #185 "Offer to minify scripts if at storage limit"
I just realized that users cannot currently minify their scripts easily. Could that be added as an option in the menu?

[2020-12-15 06:35] xcv58 commented on #184
It never requested history permission https://github.com/xcv58/Custom-JavaScript-for-Websites-2/blob/master/src/manifest.json#L32

[2020-12-15 06:35] #184 closed

[2020-12-15 06:41] xcv58 commented on #185
You can minify the code and host it on CDN use the external scripts to import them.

[2020-12-20 04:53] xcv58 opened #195 "Investigate how to fix CI"
The integration test on CI is really unstable. It seems there are race conditions for updating the script.

[2021-01-05 17:44] btsheehy commented on #81
I would very much like to second this. For probably most of my use cases, I'd want to be applying scripts before the page's own javascript is running. Other than that, this extension is great. I've long wanted something like this.

[2021-03-09 06:28] xcv58 opened #262 "Use Playwright to replace puppeteer for integration test"
https://github.com/xcv58/Tab-Manager-v2/pull/1003

[2021-04-04 03:53] xcv58 opened #299 "Microsoft Edge | Invitation to publish your extension to Microsoft Edge Add-ons website"
Greetings from Microsoft.  

 

I am Disha Vishwakarma from Microsoft Edge extensions crew reaching out to you to invite you to publish your extension to Microsoft Edge Add-ons website.   

  

Your extension “Custom JavaScript for Websites 2” is quite popular with users of Microsoft Edge. We feel that the traction will be even better if this extension was available with Microsoft Edge Addons.

He

[2021-04-26 06:23] xcv58 opened #337 "Add download link in README"
It should include both Chrome and Microsoft Edge

[2021-06-25 17:34] pingme998 opened #471 "How to replace text in website?"
Please help me, I'm not good at javascript, I need a script to replace text inside a website with Custom-JavaScript-for-Websites-2.

For example, every time I reload the website I need to find the sentence "Capture Verification Unsuccessful" within the webpage and replace it with "Capture Verification Successful"

If you are too busy. Please give any hint to fix my problem.

[2021-06-30 15:19] xcv58 commented on #471
I suggest you search on this topic: https://www.google.com/search?q=stackoverflow+js+replace+text+on+web+page&sxsrf=ALeKk007NQB0jv84hpKKEgZHmf0q9sLotg%3A1625066332675&source=hp&ei=XIvcYNCJJLOTwbkPp92ViAU&iflsig=AINFCbYAAAAAYNyZbBmFy1VJOdh5Jrbkm1OecqwDUcIK&oq=stackoverflow+js+replace+text+on+web+page&gs_lcp=Cgdnd3Mtd2l6EAMyBwghEAoQoAEyBQghEKsCOgUIABCxAzoICAAQsQMQgwE6CAguELEDEIMBOgsILhCxAxDHARCjAjoC

[2021-07-01 13:05] #471 closed

[2021-08-25 05:04] renovate[bot] opened #562 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update dependency husky to v7.0.2](../pull/561)
 - [ ] [chore(deps): update typescript-eslint monorepo to v4.29.3](../pull/560) (`@typescript-eslint/eslint-plugin`, `@typescript-eslint/parser`)
 - [ ]

[2021-11-17 13:46] atulmaurya opened #617 "Size"
Low script storage size, try to extend or its previous version was working fine

[2022-01-02 14:30] deelobase opened #690 "Deploy your app for free 🚀"
Hey @xcv58, I'm just stopping by to say great work and to make a recommendation! Will you need to host your app in the future? If so, I'd highly recommend using [DeeloCloud](https://www.deelo.cloud). It's built for developers, it's super easy to use, and you won't have to manage servers - which means you can focus on building!
Here's how it works in a few steps:

After signing up at https://deelo.

[2022-05-11 08:38] Anangaya opened #853 "Ability to name the scripts instead of using host as the identifier"
Would be great if the scripts can be named instead of using host as the only identifier (it becomes ugly when you want use multiple scripts on the same site like RegExp: file:///.* , RegExp: file://.*, RegExp: file:/.* for local files)

![BFDRADmlcA](https://user-images.githubusercontent.com/73894038/167806632-09ea8c31-9607-4033-9aad-15997a1c52f2.png)

[2022-05-15 13:12] xcv58 commented on #853
It's a legit use case, I will work on it.

Thanks for suggestion.

[2022-05-17 03:16] xcv58 commented on #853
The feature is trivial to implement. However, due to the browser sync data quota:
https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/storage/sync#storage_quotas_for_sync_data

It's dangerous to add this feature. I will think about alternatives.

[2022-06-02 03:18] xcv58 opened #864 "Set yarn workspace"

[2022-09-20 04:49] jamesmortensen opened #868 "Migrate to manifest v3"
Google is soon going to pull support for manifest v2 extensions in 2023.  In January 2023, the only updates the Chrome Web Store will accept is for migrating extensions to manifest v3.

My suggestion would be to first experiment with injecting and running JavaScript on pages, since this is core to the extension's functionality and since this JavaScript is user-supplied and not part of content scri

[2022-09-29 04:55] CypherVault commented on #868
Seconded. Would just that really update this for manifest v3?

[2022-09-29 05:53] jamesmortensen commented on #868
@CypherVault The biggest question mark is the restriction on executing arbitrary JavaScript that is not part of the extension.  Since that is the purpose, if we can't do that anymore, then nothing else matters.

You can read more about the "scripting" permission here: https://developer.chrome.com/blog/crx-scripting-api/

It looks to me like it might not be possible, but I hope someone else can rea